option_settings:
    aws:wlastibeanstalk:application:enviroment:
        PORT: 8080
        NODE_ENV: production
        SECRET_KEY: "OSOJUDIO"
        MONGO_URL: "mongodb://esteban:g13143099@ds211875.mlab.com:11875/ubereats_cintanegra"
        CLOUDINARY_NAME: dptmtx6uu
        CLOUDINARY_API_KEY: 759121311173928
        CLOUDINARY_SECRET_KEY: VMMBqUQfuG07ObkQpvARJ_6C8Cs